{% extends "base.html" %}

{% block title %}{{ block.super }} - Entries{% endblock %}

{% block content %}     
<article class=i>
    <p class=iTtl>Entries for the App Hackathon</p>
	<p></p>
    <p class=iDes>There were so many projects, but these are some of the ones that didn't technically win any prize but were still great applicants.</p>
</article>

<article class=i>
    <p class=iTtl>Rock Paper Scissors Lizard Spock</p>
	<p class=iDes>Author: Jeffrey Wentz</p>
	<p></p>
    <p class=iDes>Rock Paper Scissors Lizard Spock is a simple game inspired by the television show, The Big Bang Theory. Currently you have five options to choose from: Rock, Paper Scissors, Lizard, and Spock to battle against the computer with. Soon it will be able to play against friends.</p>
</article>

<article class=i>
    <p class=iTtl>Flashcards </p>
	<p class=iDes>Author: Carly Farr</p>
	<p></p>
    <p class=iDes>The Flashcards app allows you to create decks of flashcards and study on the go.</p>
</article>

<article class=i>
    <p class=iTtl>CoverMe </p>
	<p class=iDes>Author: Arsalan Zolfaghari and Ryley Herrington</p>
	<p></p>
    <p class=iDes>Searches youtube and other sources and finds as many "covers" for a song as it can find.</p>
</article>

<article class=i>
    <p class=iTtl>En Route</p>
	<p class=iDes>Author: Breen Kucey</p>
	<p></p>
    <p class=iDes>EnRoute helps people with their needs while driving.  The first step the user takes is use a Google Maps object to get directions to where they want to go.  Once they choose a route, EnRoute makes a playlist based off their music preferences to fill the trip time.  During the trip EnRoute displays the map and reads out directions.  Whenever the user wants something they can shout out key words to the app (Restaurant, Munchies), and it will give a list of places and how much time it will add to the trip.  The user chooses a place, then EnRoute takes care of the directions to get them there and back on track.  </p>
</article>

<article class=i>
    <p class=iTtl>Attendid</p>
	<p class=iDes>Author: Ryley Herrington and Chris On</p>
	<p></p>
    <p class=iDes>Social Media application that allows user to view and search Twitter and Instagram on one application.</p>
</article>

<article class=i>
    <p class=iTtl>DJPi</p>
	<p class=iDes>Chris Vanderschuere</p>
	<p></p>
    <p class=iDes>Crowd sources music player that allows everyone at an event to add music to a shared playlist. The concept uses an iOS app, a webserver, and a raspberry pi.</p>
</article>

<article class=i>
    <p class=iTtl>Apartment Finder</p>
	<p class=iDes>Author: Godfrey Yeung</p>
	<p></p>
    <p class=iDes>This is an app to help students, or anyone, to find housing easier. Anyone, be it students or property management companies, can place markers on a public map to advertise to the world that their property is for sale/rent/lease. Then anyone can view the website to easily see all those properties up for grabs. With a map, they can instantly get an idea of where the property is. People with properties can enter a title, description, and property-type for their property, which will show up above each marker when it is clicked. They can also indicate how long they want their property to show up on the app.  </p>
</article>
 
<article class=i>
    <p class=iTtl>Just Ripe</p>
	<p class=iDes>Author: Nicole Phelps</p>
	<p></p>
    <p class=iDes>The JustRipe application is targeted at anyone who goes to the grocery store. While in the produce section and checking off your grocery list, the last thing you want to do on a busy day is spend too much time figuring out if your desired produce is ripe. 
	</p><p class=iDes>
After searching and selecting your a produce item in JustRipe's search bar (accessing the local database), you have easy access to the following information: ripe description (look, feel, smell, hear), taste, storage, cooking, recipes, nutrition, coupons (future version), share to social network.
	</p><p class=iDes>
Future features include integration with the following: grocery list, store promos, taste comparing, location based push notifications for produce sales, and many more."</p>
	</p>
</article>

<article class=i>
    <p class=iTtl>Time Advisor</p>
	<p class=iDes>Author: Tim Chen</p>
	<p></p>
    <p class=iDes>Time Advisor, the ability for a user to identify their free and busy time and find solutions to increase productivity. It has the ability to take in a calendar and yoru course schedule and give you back a filled out calendar.</p>
</article>

<article class=i>
    <p class=iTtl>Flatter Me Please</p>
	<p class=iDes>Author: Dean Johnson</p>
	<p></p>
    <p class=iDes>Flatter Me Please is a web app that compliments people.</p>
</article>

<article class=i>
    <p class=iTtl>Platform Game</p>
	<p class=iDes>Author: Riley Hickman</p>
	<p></p>
    <p class=iDes>Windows 8 platformer game where you control your character and guide them to the gold in each increasingly difficult level.</p>
</article>

<article class=i>
    <p class=iTtl>Sudoku Solver</p>
	<p class=iDes>Author: Everyone participating</p>
	<p></p>
    <p class=iDes>App that solves sudoku through a webapp that works on all platforms.</p>
</article>

<article class=i>
    <p class=iTtl>Now Playing</p>
	<p class=iDes>Author: Ryley Herrington and Landon Young</p>
	<p></p>
    <p class=iDes>App that lets you post your music to Twitter and listen to what others are playing. This was released before Twitter #music was released... just as a sidenote.</p>
</article>

<br/>
<br/>

{% endblock %}
