{% extends "base.html" %}

{% block title %}{{ block.super }} - Tutorials{% endblock %}

{% block content %} 
<article class="i">
	<p class="iTtl">Tutorials </p>
	<p></p>
	<p class=iDes>
		We will post tutorial resources here. In addition, there are a few titanium examples out on my github.
	</p>
	<p class=iDes>
	<b>Username: ryleyherrington, Names: Grammatics and OnAir. </b>
	</p>
	<p class=iDes>So you can see those, and for the rest you can always google "example google maps application" or "example iOS table application" or "Titanium tab application example." 
	</p>
</article>
<div id="wrap">
<div id="left_col">
<article class="i"> 
<p class="Ttl">Android Specific</h3>
<p class="iTtl"><a href="http://developer.android.com/training/index.html">Android Getting Started</a><br />
</article>
<article class="i"> 
<p class="Ttl">iOS Specific</h3>
<p class="iTtl"><a href="http://developer.apple.com/library/ios/#referencelibrary/GettingStarted/RoadMapiOS/chapters/RM_YourFirstApp_iOS/Articles/00_Introduction.html">iOS Getting Started</a><br />
</article>
<article class="i"> 
<p class="Ttl">Titanium Specific</h3>
<p class="iTtl"><a href="http://training.appcelerator.com/training-resources">Titanium Getting Started</a><br />
</article>
<article class="i"> 
<p class="Ttl">Search for Apps/Tools</h3>
<p class="iTtl"><a href="http://cloudomatic.com/"> Cloudomatic</a><br />
<a href="http://www.thetoolbox.cc/"> The Toolkbox</a></p>
</article> <article class="i" > <p class="Ttl">Business</h3>
<p class="iTtl"><strong> CRM</strong><br />
<a href="http://batchbooks.com/">Batchbooks</a></p>
<br />
<p class="iTtl"><strong>Market Research<strong></strong><br />
<a href="http:launchrock.com">LaunchRock</a><br />
<a href="http:" google="" com="" insights="">Google Insights</a><br />
<a href="http:" aytm="" com="">AYTM</a></strong></p>
<br />
<p class="iTtl"><strong>Keyword Research</strong><br /></p>
<a href="http://www.semrush.com/">SEMrush</a>*<br />
<a href="http://www.google.com/ads/adwords2/">Google Keywords</a><br />
<a href="http://www.wordtracker.com/">Wordtracker</a></p>
<br />
<p class="iTtl"><strong>Traffic Research</strong><br />
<a href="http://www.quantcast.com">Quantcast</a><br />
<a href="http://compete.com">Compete</a></p>
<br />
<p class="iTtl"><strong>SWAG</strong><br />
<a href="http://startupthreads.com">Startup Threads</a><br />
<a href="http://teespring.com">Teespring</a></p>
<br />
<p class="iTtl"><strong>Videos/presentations</strong><br />
<a href="http://prezi.com/">Prezi</a><br />
<a href="http://www.slideshare.net/">SlideShare</a><br />
<a href="http://haikudeck.com/"> Haiku Deck<br />
</a><a href="http://goanimate.com/">GoAnimate</a><a href="http://http://haikudeck.com/">*<br />
</a><a href="http://youtube.com">YouTube</a></p>
<br />
<p class="iTtl"><strong>Customer service</strong><br />
<a href="http://getsatisfaction.com">Get Satisfaction</a><br />
<a href="http://uservoice.com">UserVoice</a><br />
<a href="http://slinkset.com">Slinkset</a></p>
<br />
<p class="iTtl"><strong>Finances</strong><br />
<a href="http://expensify.com">Expensify</a><br />
<a href="http://chargify.com">Chargify</a></p>
</article><article class="i" > <p class="Ttl">Communities/Local Events</h3>
<p class="iTtl"><a href="http://www.eventbrite.com">Eventbrite</a><br />
<a href="http://www.meetup.com">Meetup</a><br />
<a href="http://bigtent.com">BigTent</a></p>
<br />
<p class="iTtl"><strong>Women Focus</strong><br />
<a href="http://women2.org" target="_blank">Women 2.0</a><br />
<a href="http://www.girlsintech.net/">Girls in Tech</a></p>
</article><article class="i" > <p class="Ttl">Design/UI Tools</h3>
<br />
<p class="iTtl"><strong>Wireframes</strong><br />
<a href="http://balsamiq.com/">Balsamiq</a><br />
<a href="https://gomockingbird.com/">Mockingbird</a><br />
<a href="http://www.adobe.com/products/photoshop.html">Adobe Photoshop</a>*<br />
<a href="http://iplotz.com" target="_blank">http://iplotz.com</a></p>
<br />
<p class="iTtl"><strong>other</strong><br />
<a href="http://www.spritecow.com/ ">SpriteCow</a><br />
<a href="https://skitch.com/">Skitch</a><br />
<a href="http://itunes.apple.com/us/app/colorchooser/id445279824?mt=12"> Color Choose</a></p>
</article><article class="i" > <p class="Ttl">Dev Tools</h3>
<p class="iTtl"><a href="https://cloudmine.me/">Cloudmine</a><br />
<a href="http://www.microsoft.com/visualstudio/en-us">Visual Studio</a><br />
<a href="http://www.bizspark.com/">BizSpark (Members are free)</a><br />
<a href="http://www.aptana.com" target=" _blank">Aptana</a><br />
<a href="http://www.chromium.org/devtools" target="_blank">Chromium</a><br />
<a href="http://google.com/apps" target="_blank">Google Apps</a><br />
<a href="http://getfirebug.com/"> GetFireBug</a><br />
<a href="http://www.getpostman.com">Get Postman</a><br />
<a href="http://rubular.com/"> Rubular</a><br />
<a href="https://www.ruby-toolbox.com/">Ruby Toolbox</a></p>
<br />
<p class="iTtl"><strong>Email Integration</strong><br />
<a href="http://sendgrid.com">Sendgrid</a></p>
<br />
<p class="iTtl"><strong>Domains</strong><br />
<a href="http://www.go.co/">.Co</a></p>
<br />
<p class="iTtl"><strong>Text Editor</strong><br />
<a href="http://macromates.com/" target="_blank">Macromates</a><br />
<a href="http://www.sublimetext.com/ ">Sublime Text</a></p>
</div>
<br />
</article> 
</div>

<div id="right_col">
<article class="i" ><p class="Ttl">Dev Tools cont.</h3>
<br />
<p class="iTtl"><strong> Hosting</strong></p>
<p class="iTtl"><a href="http://heroku.com."> Heroku</a><br />
<a href="http://github.com">Github</a><br />
<a href="http://www.name.com/">Name.com</a>*<br />
<a href="http://www.bluehost.com/">Bluehost</a>*<br />
<a href="http://www.startlogic.com/">StartLogic</a>*<br />
<a href="http://www.microsoft.com/bizspark/azure/" target="_blank">Windows Azure</a><br />
<a href="http://firehost.com" target="_blank">FireHost</a><br />
<a href="http://wowrack.com" target="_blank">Wowrack</a><br />
<a href="http://mediatemple.net/webhosting/ve/">Media Temple</a><br />
<a href="http://aws.amazon.com/" target="&quot;_blank">Amazon Web Services</a><br />
<a href="http://unfuddle.com" target="_blank">Unfuddle</a><br />
<a href="http://page.ly" target="_blank">Page.ly</a></p>
</article><article class="i" > <p class="Ttl">Educational</h3>
<p class="iTtl"><a href="http://codeacademy.com/">Codeacademy</a><br />
<a href="http://udacity.com/"> Udacity</a><br />
<a href="http://appsumo.com">App Sumo</a></p>
<br />
<p class="iTtl"><strong>Lean Methodology Sources</strong><br />
<a href="http://steveblank.com/">Steve Blank</a><br />
<a href="http://www.startuplessonslearned.com/">Eric Ries</a></p>
<br />
<p class="iTtl">SW Courses<br />
<a href="http://startupweekend.org/Steve-Blank_Course_Video_1 ">Part 1- Intro</a><br />
<a href="http://startupweekend.org/Steve-Blank_Course_Video_1 "></a><a href="http://startupweekend.org/Steve_Blank_Course_Video_2">Part 2- 3 tools for startups</a><br />
<a href="http://vimeo.com/37365328"> Part 3- Lean Cust. Dev.in action </a><br />
<a href="http://startupweekend.org/Steve_Blank_Course_Video_4"> Part 4- Closing </a></p>
<br />
<p class="iTtl">Rand Fishkin<br />
<a href="http://owl.li/aVXSp"> Inbound Marketing vs Interruption marketing</a></p>
<br />
<p class="iTtl"><strong>Languages</strong><br />
<a href="http://startspanish.com/">Start Spanish</a><br />
<a href="http://livemocha.com"> Live Mocha</a><br />
<a href="http://www.bbc.co.uk/languages/">BBC Languages</a></p>
<br />
</article><article class="i" > <p class="Ttl">Organization/Planning</h3>
<br />
<p class="iTtl"><strong>Task Management</strong><br />
<a href="http://www.asana.com/">Asana</a><br />
<a href="http://podio.com/">Podio</a><br />
<a href="http://do.com/">Do.Com</a></p>
<br />
<p class="iTtl"><strong>Project Management Tools</strong><br />
<a href="http://www.pivotaltracker.com/" target="_blank">Pivotal Tracker</a><br />
<a href="https://kerika.com/website/index.jsp">Kerika</a><br />
<a href="http://pbworks.com/" target="_blank">PBWorks</a></p>
<br />
<p class="iTtl"><strong>Mailing lists/groups</strong><br />
<a href="http://groups.google.com/">Google Groups</a></p>
<br />
<p class="iTtl"><strong>Forms/Surveys</strong><br />
<a href="http://wufoo.com/">Wufoo</a><br />
<a href="https://docs.google.com/#home">Google Forms</a><br />
<a href="http://www.surveymonkey.com/">Survey Monkey</a></p>
<br />
<p class="iTtl"><strong>Personal storage</strong><br />
<a href="http://www.dropbox.com/">Dropbox</a><br />
<a href="http://www.drive.google.com/">Drive</a></p>
</article><article class="i" > <p class="Ttl">Social Media/Marketing</h3>
<p class="iTtl"><a href="http://www.wildfireapp.com/">WildFire App</a></p>
<br />
<p class="iTtl"><strong>Website/Blogging</strong><br />
<a href="http://checkthis.com/">CheckThis</a></p>
<br />
<p class="iTtl"><strong>Social networking</strong><br />
<a href="http://www.facebook.com/FacebookPages">Facebook Fan Pages</a><br />
<a href="http://www.ning.com/">Ning Communities</a></p>
<br />
<p class="iTtl"><strong>Social/Sharing</strong><br />
<a href="http://link.sy/">Link.sy</a><br />
<a href="http://developers.facebook.com/docs/reference/plugins/like/">Facebook Like</a><br />
<a href="http://www.addthis.com//">Add This</a><br />
<a href="http://sharethis.com/">ShareThis</a></p>
<br />
<p class="iTtl"><strong>Ad Promotion</strong><br />
<a href="http://linkedin.com/ads/"> Linkedin Ads</a><br />
<a href="http://facebook.com/business/connect/">Facebook Ads</a><br />
<a href="http://google.com/ads/">Google Ads</a><br />
<a href="https://business.twitter.com/advertise/start" twitter="" promotions="" a=""></a></p>
<br />
<p class="iTtl"><strong> Startup Promotion</strong><br />
<a href="http://www.launch.it/">Launch.it</a></p>
<br />
<p class="iTtl"><strong>Email marketing</strong><br />
<a href="http://mailchimp.com/">Mail Chimp</a>*<br />
<a href="http://www.constantcontact.com/index.jsp">Constant Contact</a>*<br />
<a href="http://www.icontact.com/">iContact</a>*<br />
<a href="http://www.aweber.com">aWeber</a>*</p>
</div>
</article>
{% endblock %}
